{% extends 'navegacion.html' %}
{% block title %} Contacto {% endblock %}

{% block content %}

<div class="container-fluid">


    <div class="container col-md-4">
        <h3>Formulario de Contacto</h3>
        <br>
        <form method="post">

            <label for="" class="form-label">Nombre</label>
            <input type="text" id="" class="form-control">
            <br>

            <label for="" class="form-label">Correo Electrónico</label>
            <input type="email" id="" class="form-control">
            <br>

            <label for="" class="form-label">Curso de Interés</label>
            <select name="curso" class="form-control">
                <option value="">Selecciona un curso</option>
                <option value="bdd">Bases de Datos</option>
                <option value="poo">Programación Orientada a Objetos</option>
                <option value="cd">Ciencia de Datos</option>
            </select>
            <br>

            <label for="" class="form-label">Comentarios</label>
            <textarea name="comentarios" rows="4" cols="40" class="form-control"></textarea>
            <br>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

</div>

{% endblock %}